/* GENERAL SETTINGS */
*, *::after , *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  color: black;
  font-family: sans-serif monospace;
}
.container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
/* SIDE BAR LEFT HEADER + SEARCHBAR */
.left_bar {
  min-width: 450px;
  height: auto;
  border: 1px solid grey;
}
.left_header {
  display: flex;
  min-width: 150px;
  height: 80px;
  background-color: #cecece;
}
.profile {
  width: 80px;
  height: 70px;
  border-radius: 50%;
  display: block;
}
.left_header_icons {
  display: flex;
  align-items: center;
  margin-left: 60%;
}
.left_header_icons > i {
  cursor: pointer;
  padding-right: 35px;
  font-size: 25px;
}
/* SEARCHBAR */
.left_bar_search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  padding: 10px;
}
.left_bar_search > i {
  font-size: 20px;
  position: absolute;
  left: 1%;
  z-index: 1; /*non so se serviva qua z index*/
}
.input_searchbar {
  padding: 10px;
  padding-left: 30px;
  width: 100%;
  border-radius: 30px;
  border: none;
}
/* CONTACT LIST  */
.left_bar_contact_list {
  height: auto;
  background-color: #fefefe;
}
.left_bar_contact_list::-webkit-scrollbar {
  width: 10px;
}
.left_bar_contact_list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.left_bar_contact_list::-webkit-scrollbar-thumb {
  background: #cecece;
}
.imgcontact {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.contact {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.contact:hover {
  background-color: #cecece;
  background-size: cover;
  cursor: pointer;
  border-radius: 30px;
}
.contact_left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_right {
  line-height: 2;
  border-bottom: 1px solid #47341a;
}
.contact_info {
  padding: 10px;
}
.contact_name {
  font-size: 20px;
  font-weight: bold;
}
.last_time {
  margin-left: auto;
  font-size: 10px;
  color: green;
}
.last_msg {
  font-size: 15px;
}
/* RIGHT SIDEBAR */
.main_container_right {
  width: 100%;
  height: auto;
}
.header_left {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  background-color: #cecece;
  position: relative;
  border: 1px solid grey;
}
.header_left > span {
  margin-left: 20px;
  line-height: 4;
}
.last_access {
  display: flex;
}
.icons {
  margin-right: 30px;
  line-height: 5;
  position: absolute;
  right: 0;
  transform: translateX(-50%);
}
.icons i {
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}

/* MESSAGE BODY */
.message_body {
  background-image: url("img/background.jpg");
  background-size: cover;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
}
.message_body::-webkit-scrollbar {
  width: 20px;
}
.message_body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.message_body::-webkit-scrollbar-thumb {
  background: #cecece;
}
/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #cecece;
  width: 100%;
  height: 80px;
}
.footer i {
  padding: 10px;
  font-size: 20px;
}
.fa-paper-plane:hover {
  color: green;
  transform: scale(2);
  transition-duration: 1s;
  cursor: pointer;
}
.fa-smile {
  cursor: pointer;
}
.footer_input {
  width: 80%;
  border-radius: 30px;
  border: none;
  padding: 10px;
}
